<?xml version="1.0" encoding="UTF-8"?>
<!-- If you're using GlassFish V3, you can update the version attribute to 
	3.0 and the schema document to web-app_3_0.xsd JBoss AS 6.0.0.M1 does not 
	support Servlet 3.0 (expected in 6.0.0.M2) -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
      http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- 
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
 -->
</web-app>
